[submodule "data/submodules"]
	path = data/submodules
	url = https://github.com/GradienceTeam/Submodules

[submodule "data/plugins"]
	path = data/plugins
	url = https://github.com/GradienceTeam/Plugins

