# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
# -   repo: https://github.com/PyCQA/pylint
#     rev: pylint-2.7.2
#     hooks:
#     - id: pylint
# -   repo: https://github.com/pre-commit/mirrors-autopep8
#     rev: v1.5.4  # Use the sha / tag you want to point at
#     hooks:
#     - id: autopep8
#
