# After changing this file, download the flatpak pip generator script:
# curl -O https://raw.githubusercontent.com/flatpak/flatpak-builder-tools/master/pip/flatpak-pip-generator
# chmod +x flatpak-pip-generator
# Then run:
# ./flatpak-pip-generator --requirements-file=requirements.txt --output pypi-dependencies

anyascii~=0.3