$variant: {{theme_variant}};

/* Generated with Gradience
 *
 * Issues caused by theming should be reported to Gradience repository, and not to upstream
 *
 * https://github.com/GradienceTeam/Gradience
 */

@import "gnome-shell-sass/_colors"; //use gtk colors
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";

{{custom_css}}
