$variant: {{theme_variant}};

/* Generated with Gradience 
 *
 * Please report theming issues in the Gradience repository
 * Instead of reporting it to the upstream repo
 * https://github.com/GradienceTeam/Gradience/ */

@import "gnome-shell-sass/_colors"; //use gtk colors
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";

{{custom_css}}
