/* FONTS */
@font-face {
  font-family: "Cantarell var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/Cantarell-VF.woff2") format("woff2"),
    url("../fonts/Cantarell-VF.otf") format("opentype");
}

html {
  font-family: "Cantarell", sans-serif;
}