.variant {
    padding: 0;
    border-radius: 100%;
  }

  .variant radio {
    color: transparent;
    background-color: inherit;
    border: 5px solid transparent;
  }

  .variant:checked radio {
    border: 5px solid @accent_bg_color;
  }

  #dark {
    background-color: black;
  }

  #light {
    background-color: white;
  }

  #red {
    background-color: red;
  }

  #orange {
    background-color: orange;
  }

  #yellow {
    background-color: yellow;
  }

  #blue {
    background-color: blue;
  }

  #green {
    background-color: green;
  }
